@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white/10 text-black;
  }
}

/* Lenis */
@layer base {
  html.lenis,
  html.lenis body {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply scroll-auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden;
  }

  .lenis.lenis-scrolling iframe {
    @apply pointer-events-none;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Monaco Editor */
.monaco-editor,
.monaco-editor-background {
  @apply bg-white/40 bg-opacity-10 !important;
}

.monaco-editor .margin {
  @apply bg-transparent !important;
}

.current-line,
.decorationsOverviewRuler,
.slider {
  @apply hidden !important;
}

.line-numbers,
.active-line-number,
.mtk1 {
  @apply text-black !important;
}
